<div class="row">
	<div class="portada">
		<div class="container">
			<div class="recuadro">
			    <ul class="breadcrumb">
				    <li><a class="bread" href="#">HOME</a> <span class="divider">></span></li>
				    <li><a class="bread" href="#">NOMBRE DE LA CATEGORIA</a> <span class="divider">></span></li>
				    <li class="bread" class="active" style="text-decoration: underline;">NOMBRE DE LA SUBCATEGORIA</li>
			    </ul>
				<h1 class="title">NOMBRE DE LA SUBCATEGORÍA</h1>
				<h2 class="subtitle" >PRODUCTOS</h2>
			</div>
		</div>
	</div>
</div>