<div class="span6" style="text-align:center;margin-left: 0px;position: relative;margin-top: 20px;">
    <div style="margin-bottom: 0px;width: 100%;">

        <div class="row-fluid">
            <div class="span3">
                <img style="width: auto;height: auto" src="{{ asset('images/jumbo.png') }}" alt="" />
            </div>

            <div class="span3">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Descripcion</label><br/>
                    <label>Nombre</label>
                    <a href="#" class="link_contenido">Eliminar</a>
                </div>
            </div>

            <div class="span3">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Cantidad</label><br/>
                    <label class="estilo_cantidad" id="car_cantidad_uni">1</label>
                </div>
            </div>

            <div class="span3">
                <div style=" padding-top: 5px;">
                    <label class="label_subtitulo">Precio</label><br/>
                    <label style="font-size: 25px;font-family: Arial !important;margin-bottom: 30px;" id="car_precio_uni"><b>$100</b></label>
                </div>
            </div>


        </div>
    </div>

</div>