<div class="row-fluid "style="padding-bottom: 10px">
    <div class="span3">
        <div class="thumbnail">
            <img src="{{  asset('images/marcadoresshapie.png') }}" alt="ALT NAME">
            <div class="caption">
                <p>Description</p>
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="thumbnail">
            <img src="{{  asset('images/agenda.png') }}" alt="ALT NAME">
            <div class="caption">
                <p>Description</p>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="thumbnail">
            <img src="{{  asset('images/bastidorpinturas.png') }}" alt="ALT NAME">
            <div class="caption">
                <p>Description</p>
            </div>
        </div>
    </div>

    <div class="span3">
        <div class="thumbnail">
            <img src="{{  asset('images/agenda.png') }}" alt="ALT NAME">
            <div class="caption">
                <p>Description</p>
            </div>
        </div>
    </div>
</div>